<!DOCTYPE html>
<html>
	<head>
		<title>LetsTalkPeriod</title>
		<!-- BOOTSTRAP -->
		 <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            integrity="sha384- BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
            crossorigin="anonymous"
        />
		<!-- ADDING SEMANTIC UI -->
		<link 
			  rel="stylesheet" 
			  type="text/css" 
			  href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
		/>
		<link rel="stylesheet" href="stylesheets/app.css"> 
		<style type="text/css">
			body {
				background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/387eb18b-ab74-4503-a97f-b5e6143eb21d/d2cwpmy-d218038c-c2cb-4bec-b30d-0cd1eb0bd33d.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMzg3ZWIxOGItYWI3NC00NTAzLWE5N2YtYjVlNjE0M2ViMjFkXC9kMmN3cG15LWQyMTgwMzhjLWMyY2ItNGJlYy1iMzBkLTBjZDFlYjBiZDMzZC5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.PqJyZTVod7VKogmpvyRx6YDOl1Y9Pe6aWFuafPJljzI");
			}
		</style>
	</head>
	<body>
		 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">LetsTalkPeriods</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">HOME</a></li>
      <li><a href="/blogs">BLOGS</a></li>
    </ul>
  </div>
</nav> 
		
