<!DOCTYPE html>
<html>
<head>
	<title>Let's Talk, Period.</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<meta name="keywords" content="Periods, menstruation, what is periods?">
	<meta name="viewport" content="width= device-width, initial scale= 1.0">
	<link href="https://fonts.googleapis.com/css2?family=Exo:wght@500&display=swap" rel="stylesheet">
	<style type="text/css">
		.body{
			background-color: rgba(130,0,0,0.1);
		}
		.nav{
			background-color: white;
		}
		.text{
			font-size: 20px;
		}
		.b{
			border: 2px solid black;
			padding: 10px;
			margin: 0px 20px;
			background-color: rgba(148, 0, 0, 0.5); 
			font-size: 42px;
			border-radius: 90px;
		}
		.b:hover {
		  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
		}
		.content{
			height: 450px;
			font-size: 20px;
			font-family: 'Exo', sans-serif;
			background-color: rgba(230,0,0,0.1)
		}
		.align{
			text-align: right;
		}
		.space{
			height: 35px;
		}
		.footer{
			height: 90px;
			background-color: rgba(96, 0,0,0.3);
			text-align: center;
		}
	</style>
</head>

<body class="body">

	<!-- NAVBAR-->
	<nav class="nav navbar navbar-expand-lg navbar-light">
	  <a class="navbar-brand text" href="#">
	  	<img src="splotch.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
	  	Let's Talk, Period.</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	    <div class="navbar-nav">
	      <a class="nav-link active text" href="/blogs">BLOGS <span class="sr-only">(current)</span></a>
	     </div>
	  </div>
	</nav>

	
	<!--CAROUSEL-->
	<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  		<ol class="carousel-indicators">
    		<li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    		<li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
   	 		
  		</ol>
  		<div class="carousel-inner">
    		<div class="carousel-item active">
      			<img src="https://i.pinimg.com/originals/3f/f1/92/3ff192f9db61a856ff4a838b457c3c07.png" class="d-block w-100" width="50" height="550">
      			<div class="carousel-caption d-none d-md-block">
        		</div>
    		</div>
    		<div class="carousel-item">
      			<img src="https://i.pinimg.com/originals/01/5a/8f/015a8fc708c9ed96aae670eed7181cfb.png" class="d-block w-100" width="50" height="550" >
      			<div class="carousel-caption d-none d-md-block">
        			<p>WEBINARS.</p>
      			</div>
    		</div>
    	</div>
  		<a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
    		<span class="sr-only">Previous</span>
  		</a>
  		<a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    		<span class="carousel-control-next-icon" aria-hidden="true"></span>
    		<span class="sr-only">Next</span>
  		</a>
	</div>
	<br><br><br><br><br><br>


	<!--CONTENT-->
	<div class="content">
		<h1 font >Menstruation</h1>
		<p >Approximately half of the world’s population experiences, will experience, or has experienced menstruation, and yet myths about this biological process still abound.</p>
		<p >India is a country which is home to many myths and taboos. Shattering the glass ceiling is the requirement of the hour if we were to succeed as a nation. 
		One such taboo is that of MENSTRUATION.
		Women around the world are still looked down upon if they are seen talking about the same.
		</p>
		<p></p>
		<p></p>
		<p >Many girls and women are subject to restrictions in their daily lives simply because they are menstruating. Not entering the “puja” room is the major restriction among urban girls whereas, not entering the kitchen is the main restriction among the rural girls during menstruation. Menstruating girls and women are also restricted from offering prayers and touching holy books. The underlying basis for this myth is also the cultural beliefs of impurity associated with menstruation. It is further believed that menstruating women are unhygienic and unclean and hence the food they prepare or handle can get contaminated.
		</p>
		<hr>
		<br>
		<p>We will be hosting <underline>WEBINARS</underline> as well. To be a part of it, <strong>click on the button below, which will direct you to the zoom meeting.</strong></p>
	</div>


	<!-- THE ANIMATION AND BUTTONS-->
	<br><br><br><br><br>
	<div class="container">
  		<div class="row">
   	 		<div class="col align" >
   	 			<button type="button" class="btn b">Blog</button>
   	 		</div>

   	 		<div class="col">
    			<img src="https://i.pinimg.com/originals/f1/eb/f7/f1ebf7ddc19564756e21ef5d86185941.png" width="400" height="400">
    		</div>

   	 		<div class="col">
    			<button type="button" class="btn b" onclick="window.location.href='https://us04web.zoom.us/j/78089966485?pwd=dVpmZitTeFI0MU5oenZyRTNnNVVJUT09';">Webinar Link</button>
    		</div>
    	</div>
  	</div>
  	<br><br><br><br><br>

  	<div class="space"></div>

  	<!--VIDEO-->
  	<div class="video">
  		<div class="row">
  			<div class="col-sm-4">
  				<iframe width="420" height="315"
				src="https://www.youtube.com/embed/ayzN5f3qN8g">
				</iframe>
  				<h4 class="widget-title">Video One</h4>		
  			</div>

  			<div class="col-sm-4">
  				<iframe width="420" height="315"
				src="https://www.youtube.com/embed/cjbgZwgdY7Q">
				</iframe>
  				<h4 class="widget-title">Video Two</h4>		
  			</div>

  			<div class="col-sm-4">
  				<iframe width="420" height="315"
				src="https://www.youtube.com/embed/Vl2wRbO8LZU">
				</iframe>
  				<h4 class="widget-title">Video Three</h4>		
  			</div>
  		</div>
  	</div>
  	
  	<div class="space"></div><div class="space"></div>

  	<!--FOOTER-->
 	<footer class="footer">
 		<p>Thank You!!</p>
 		<p>An initiative by Khushi Singh, Sristi Sharma, Vrinda Gupta, Sushant</p>
 	</footer>


	<!-- SCRIPT TAGS-->
	<div>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	</div>

</body>
</html>